@import "../variables.scss";

.ps5-home {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(120deg, #57484c, #10101c);
  display: flex;
  align-items: center;
  justify-content: center;

  canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  > div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5rem;
  }

  p {
    text-align: center;
  }

  .ps5-btn-mono {
    animation-duration: 3s;
    animation-name: animation-shrink;
    animation-iteration-count: infinite;

    &:after {
      display: none;
    }

    @keyframes animation-shrink {
      10% {
        transform: scale(0.8);
        opacity: 0.5;
      }
      12% {
        transform: scale(1);
        opacity: 1;
      }
      100% {
        transform: scale(1);
      }
    }

    .ps5-shine {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      animation-duration: 3s;
      animation-name: animation-grow !important;
      animation-iteration-count: infinite;
      animation-delay: 300ms;

      &:after {
        animation-duration: 3s;
        animation-delay: 300ms;
        border-width: 1px;
        border-radius: inherit;
      }

      &:nth-of-type(2) {
        animation-delay: 500ms;

        &:after {
          animation-delay: 500ms;
        }
      }
      &:nth-of-type(3) {
        animation-delay: 700ms;

        &:after {
          animation-delay: 700ms;
        }
      }

      @keyframes animation-grow {
        50% {
          transform: scale(2);
          opacity: 0.1;
        }
        100% {
          transform: scale(2);
          opacity: 0;
        }
      }
    }
  }

  &.exit {
    transition: opacity $animation-time ($animation-time * 4) $animation-ease;
    opacity: 0;

    canvas {
      transition: opacity $animation-time ($animation-time * 2) $animation-ease;
      opacity: 0;
    }

    div {
      transition: opacity $animation-time $animation-ease,
        transform $animation-time $animation-ease;
      opacity: 0;
      transform: scale(1.2);
    }
  }
}
