@import "../variables.scss";

.ps5-menu {
  transition: transform $animation-time $animation-ease;
  gap: 7px;

  .ps5-disk {
    border-radius: 15%;
    transform-origin: top;
    transition: width $animation-time $animation-ease;
    width: 75px;
    will-change: width;

    div {
      transition: opacity $animation-time $animation-ease;
      opacity: 0;
      will-change: opacity;

      h3 {
        position: absolute;
        bottom: 1.2rem;
        left: calc(100% + 0.7rem);
        white-space: nowrap;
        font-weight: 300;
        font-size: 1.5rem;
      }
    }

    &.active {
      width: 130px;

      div {
        transition-delay: $animation-time;
        opacity: 1;
      }
    }
  }
}
