@import "../variables.scss";

.ps5-preview {
  padding-block: $margin-x;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .ps5-disk {
    display: none;

    @media (min-width: 992px) {
      display: block;
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;
  }

  p {
    max-width: 480px;
  }

  img {
    width: 100%;
    max-width: 400px;
  }
}
