@import "../variables.scss";

.ps5-modal-dialog {
  input {
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    margin-bottom: 2rem;
  }

  .ps5-disk {
    div {
      display: none;
    }
  }

  .ps5-list {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}
