@import "../variables.scss";

.ps5-search {
  width: 400px;
  // height: 400px;
  max-width: 100%;
  // max-height: 100%;
  padding: $margin-x;
  // padding-inline: $margin-x;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  input {
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    margin-bottom: 2rem;
  }

  .ps5-disk {
    div {
      display: none;
    }
  }

  .ps5-list {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}
