@import "../variables.scss";

.ps5-top {
  font-size: 1.5rem;
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 1rem;

  @media (min-width: 768px) {
    margin-inline: -$margin-x/2;
  }

  ul {
    gap: 1rem;

    @media (min-width: 768px) {
      gap: 2rem;
    }

    @media (min-width: 992px) {
      gap: $margin-x;
    }

    img {
      width: 25px;
    }

    i {
      font-size: 2rem;
    }
  }
}

.ps5-top-btn {
  padding: 5px;
  border-radius: 4px;
  vertical-align: middle;
  opacity: 0.5;
  transform: opacity $animation-time $animation-ease;
  // will-change: opacity, font-weight;

  &.active {
    opacity: 1;
    font-weight: 400;
  }
}
