@import "./variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 200;
  font-size: 1.2rem;
  color: white;
  background-color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

input,
button,
a {
  color: inherit;
  text-decoration: none;
  @extend .ps5-shine;

  &:hover,
  &:focus {
    outline: none;
    color: inherit;
  }
}

p {
  margin-bottom: 1.5rem;
}

/**/

.ps5-shine {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: -4px;
    top: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid white;
    border-radius: 4px;
    transition: $animation-time $animation-ease;
    opacity: 0;
    transform: scale(0.95);
    // will-change: opacity;
    background-image: linear-gradient(
      -45deg,
      transparent 30%,
      rgba(white, 0.4),
      transparent 70%
    );
    background-size: 600%;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &.focus,
  &:focus,
  &:hover {
    &:after {
      opacity: 1;
      transform: scale(1);
      animation-name: animation-shine;

      @keyframes animation-shine {
        0% {
          background-position: 100%;
        }
        30% {
          background-position: 0%;
        }
        100% {
          background-position: 0%;
        }
      }
    }
  }
}

.ps5-btn-group {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.ps5-btn {
  border: none;
  border-radius: 30px;
  width: 200px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color $animation-time $animation-ease,
    background-color $animation-time $animation-ease;
  will-change: color, background-color;

  &.ps5-btn-mono {
    width: 40px;
    border-radius: 50%;
  }

  &.ps5-btn-lg {
    height: 50px;
    font-weight: 400;

    &.ps5-btn-mono {
      width: 50px;
    }
  }

  &.ps5-btn-primary {
    background-color: rgba(black, 0.6);
  }

  &:after {
    border-radius: inherit;
  }

  &.focus,
  &:focus,
  &:hover {
    color: lighten(black, 30);
    background-color: white;
  }
}

.ps5-animate-from-bottom {
  animation-name: animation-from-bottom;
  animation-duration: $animation-time;
  animation-timing-function: $animation-ease;
  animation-fill-mode: forwards;
  animation-delay: ($animation-time);
  transform: translateY(5%);
  opacity: 0;

  @keyframes animation-from-bottom {
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

.ps5-container {
  padding-left: 2rem;
  padding-right: 2rem;

  @media (min-width: 768px) {
    padding-left: $margin-x;
    padding-right: $margin-x;
  }

  @media (min-width: 992px) {
    padding-left: (2 * $margin-x);
    padding-right: (2 * $margin-x);
  }

  @media (min-width: 992px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

/**/

.ps5-page {
  overflow: hidden;

  &.enter {
    .ps5-bg:after {
      opacity: 0;
    }

    .ps5-bg {
      transform: scale(1);
    }

    .ps5-sheet {
      opacity: 0;
    }

    .ps5-content {
      opacity: 0;
    }

    .ps5-menu li {
      transform: translateX(500px) scale(0);
    }
  }

  &.enter-active {
    .ps5-bg:after {
      opacity: 1;
      transition: ($animation-time * 2) ($animation-time * 5) $animation-ease;
    }

    .ps5-bg {
      transform: scale(1.05);
      transition: $animation-time ($animation-time * 4) $animation-ease;
    }

    .ps5-sheet {
      opacity: 1;
      transition: ($animation-time * 2) ($animation-time * 7) $animation-ease;
    }

    .ps5-content {
      opacity: 1;
      transition: ($animation-time * 2) ($animation-time * 7) $animation-ease;
    }

    .ps5-menu li {
      transform-origin: center;
      transform: translateX(0) scale(1);
      transition: ($animation-time * 2) $animation-ease;

      @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
          transition-delay: $animation-time * ($i/5 + 6);
        }
      }
    }
  }
}

.ps5-sheet {
  position: relative;
}

.ps5-hero {
  display: flex;
  flex-direction: column;

  &.ps5-hero-fullscreen {
    min-height: 100vh;
  }

  .ps5-preview {
    flex-grow: 1;
  }
}

.ps5-content {
  position: relative;
  background: linear-gradient(to bottom, transparent, rgba(black, 0.8) 100px);

  > *:last-child {
    padding-bottom: (2 * $margin-x);
  }

  h3 {
    font-weight: 300;
  }
}
