@import "./variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 200;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  overflow-x: hidden;
  // letter-spacing: 1px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

button,
a {
  color: inherit;
  text-decoration: none;
  @extend .ps5-shine;

  &:hover,
  &:focus {
    outline: none;
    color: inherit;
  }
}

p {
  margin-bottom: 1.5rem;
}

/**/

.ps5-shine {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: -4px;
    top: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid white;
    border-radius: inherit;
    transition: opacity $animation-time ease-in-out;
    opacity: 0;
    will-change: opacity;
    background-image: linear-gradient(
      -45deg,
      transparent 30%,
      rgba(white, 0.4),
      transparent 70%
    );
    background-size: 600%;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &:hover {
    &:after {
      opacity: 0.3;
    }
  }

  &.on,
  &:focus {
    &:after {
      opacity: 1;
      animation-name: animation-shine;

      @keyframes animation-shine {
        0% {
          background-position: 100%;
        }
        30% {
          background-position: 0%;
        }
        100% {
          background-position: 0%;
        }
      }
    }
  }
}

.ps5-btn-group {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.ps5-btn {
  border: none;
  border-radius: 30px;
  width: 200px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color $animation-time ease-in-out,
    background-color $animation-time ease-in-out;
  will-change: color, background-color;

  &.ps5-btn-mono {
    width: 40px;
    border-radius: 50%;
  }

  &.ps5-btn-lg {
    height: 50px;
    font-weight: 400;

    &.ps5-btn-mono {
      width: 50px;
    }
  }

  &.ps5-btn-primary {
    background-color: rgba(black, 0.6);
  }

  &:focus,
  &:hover {
    color: lighten(black, 30);
    background-color: white;
  }
}

/**/

.ps5-hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .ps5-preview {
    flex-grow: 1;
  }
}

.ps5-content {
  background: linear-gradient(to bottom, transparent, rgba(black, 1)) 10%;
}

.ps5-list {
  display: flex;
  gap: 2rem;
}
