@import "./variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 200;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  // overflow: hidden;
  // letter-spacing: 1px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

button,
a {
  color: inherit;
  text-decoration: none;
  @extend .ps5-shine;

  &:hover,
  &:focus {
    outline: none;
    color: inherit;
  }
}

p {
  margin-bottom: 1.5rem;
}

/**/

.ps5-shine {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: -4px;
    top: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid white;
    border-radius: inherit;
    transition: opacity $animation-time ease-in-out;
    opacity: 0;
    will-change: opacity;
    background-image: linear-gradient(
      -45deg,
      transparent 30%,
      rgba(white, 0.4),
      transparent 70%
    );
    background-size: 600%;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &:hover {
    &:after {
      opacity: 0.3;
    }
  }

  &.focus,
  &:focus {
    &:after {
      opacity: 1;
      animation-name: animation-shine;

      @keyframes animation-shine {
        0% {
          background-position: 100%;
        }
        30% {
          background-position: 0%;
        }
        100% {
          background-position: 0%;
        }
      }
    }
  }
}

.ps5-btn-group {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.ps5-btn {
  border: none;
  border-radius: 30px;
  width: 200px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color $animation-time ease-in-out,
    background-color $animation-time ease-in-out;
  will-change: color, background-color;

  &.ps5-btn-mono {
    width: 40px;
    border-radius: 50%;
  }

  &.ps5-btn-lg {
    height: 50px;
    font-weight: 400;

    &.ps5-btn-mono {
      width: 50px;
    }
  }

  &.ps5-btn-primary {
    background-color: rgba(black, 0.6);
  }

  &.focus,
  &:focus,
  &:hover {
    color: lighten(black, 30);
    background-color: white;
  }
}

/**/

.ps5-page {
  position: relative;
  z-index: 1;
  // scroll-snap-type: y mandatory;
  // overflow-y: scroll;
  // height: 100vh;
  // transform: scale(.8);
  // opacity: 0;
  // transition: $animation-time ease-in-out;

  // &.active {
  //   transform: scale(1);
  //   opacity: 1;
  //   transition-delay: $animation-time;
  // }
}

.ps5-hero {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // scroll-snap-align: start;

  &.ps5-hero-fullscreen {
    min-height: 100vh;
  }

  .ps5-preview {
    flex-grow: 1;
  }
}

.ps5-animate-from-bottom {
  animation-name: animation-from-bottom;
  animation-duration: $animation-time;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: ($animation-time);
  transform: translateY(5%);
  opacity: 0;

  @keyframes animation-from-bottom {
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

.ps5-content {
  background: linear-gradient(to bottom, transparent, rgba(black, 0.8) 100px);
  // scroll-snap-align: start;

  > *:last-child {
    padding-bottom: (2 * $margin-x);
  }

  h3 {
    font-weight: 200;
  }
}

.ps5-container {
  padding-inline: 2rem;
  // scroll-snap-align: start;

  @media (min-width: 768px) {
    padding-inline: $margin-x;
  }

  @media (min-width: 992px) {
    padding-inline: (2 * $margin-x);
  }

  @media (min-width: 992px) {
    margin-inline: auto;
    max-width: 1200px;
  }
}

// .ps5-content {
//   scroll-snap-type: y mandatory;
//   overflow-y: scroll;
//   height: 100vh;
//   .ps5-lists {
//     scroll-snap-align: start;

//     .ps5-list {
//       display: block;
//     }
//   }
// }

/**/

.ps5-overlay {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  // background: linear-gradient(45deg, #57484c, #10101c);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 5rem;

  // opacity: 0;
  // transition: 4s ease-in-out;
  // transition-delay: 2s;

  canvas {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &.active {
    opacity: 1;
  }
}

.ps5-grow {
  position: relative;
  animation-duration: 3s;
  animation-name: animation-shrink;
  animation-iteration-count: infinite;

  &:after {
    display: none;
  }

  @keyframes animation-shrink {
    10% {
      transform: scale(0.8);
      opacity: 0.5;
    }
    12% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  .ps5-shine {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    animation-duration: 3s;
    animation-name: animation-grow !important;
    animation-iteration-count: infinite;
    animation-delay: 300ms;

    &:after {
      animation-duration: 3s;
      animation-delay: 300ms;
      border-width: 1px;
    }

    &:nth-of-type(2) {
      animation-delay: 500ms;

      &:after {
        animation-delay: 500ms;
      }
    }
    &:nth-of-type(3) {
      animation-delay: 700ms;

      &:after {
        animation-delay: 700ms;
      }
    }

    @keyframes animation-grow {
      50% {
        transform: scale(2);
        opacity: 0.1;
      }
      100% {
        transform: scale(2);
        opacity: 0;
      }
    }
  }
}
